@tailwind base;
@tailwind components;
@tailwind utilities;

.form-login {
  padding-block: 92px;
}

/* Products */
.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 160px;
  position: relative;
  padding: 10px;
  margin-block: 5px;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.card-products {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  /* border: 1px solid; */
}
.card-container {
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  padding-inline: 10px;
  /* border: 1px solid; */
}
.card-container .card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-container img:hover {
  width: 150px;
  height: auto;
  scale: 0.8;
  transition: scale 0.4s;
  aspect-ratio: auto;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
/* Product description */

.product-description {
  margin-inline: 9.5rem;
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}
.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transition: all 0.5s;
  z-index: 1;
}
.modal-active {
  display: flex;
}
.modal-icon-added {
  width: 3rem;
  height: 3rem;
  color: greenyellow;
  background-image: url('../images/checkmark.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.message-error {
  display: none;
  color: #ff3333;
  font-size: xx-small;
}
.field-form--invalid input,
.field-form--invalid textarea {
  border-bottom: 2px solid #ff3333;
}

@media (max-width: 480px) {
  .product-description {
    margin-inline: 0;
    flex-direction: column;
  }
  .product-description div {
    margin-inline: 1rem;
  }
  .card-container,
  .container-cards {
    justify-content: center;
  }
}
